<div class="grid place-items-center">
  <div class="bg-white border p-9 my-10">
    <h2 class="text-xl text-center font-bold text-slate-700">Resend confirmation instructions</h2>

    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class:"w-full" %>
      </div>

      <div class="actions">
        <%= f.submit "Resend confirmation instructions", class:"my-2 bg-slate-700 hover:bg-slate-800 transition:ease-in duration-300 text-white p-2 hover:cursor-pointer" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
