<p style="color: green"><%= notice %></p>

<div class="flex items-center justify-between px-5 py-5 border-y">
  <h2 class="text-2xl font-extrabold text-slate-800 text-center my-5"><%= @product.name %>'s stocks</h2>
  <%= link_to "New stock", new_admin_product_color_stock_path(@product, @color), class:"bg-emerald-800 hover:bg-emerald-700 text-white p-2" %>
</div>

<div id="stocks">
  <% @stocks.each do |stock| %>
    <%= render stock %>
  <% end %>
</div>


<%= link_to "Back", admin_product_colors_path(@product), class:"mt-4" %>

