<div>
  <h2 class="text-3xl font-bold text-slate-700 text-center my-5">Track Your Order</h2>
</div>

<div class="grid place-items-center">
  <%= form_with(url: track_path, method: :get) do |f| %>

    <div class="flex items-center justify-between gap-4">
      <div>
        <%= f.text_field :order_id, placeholder:"Order ID", required: true %>
      </div>

      <div>
        <%= f.text_field :email, placeholder:"Email", required: true %>
      </div>

      <div>
        <%= f.submit "Track", class:"bg-slate-700 p-2 text-white hover:bg-slate-600 hover:cursor-pointer" %>
      </div>
    </div>    
  
  <% end %>
</div>

<div>
  <% if @order.present? %>
  <section class="h-screen py-12 sm:py-10 lg:py-5">
    <div class="mx-auto px-4 sm:px-6 lg:px-8">

      <div class="mx-auto mt-8 max-w-2xl md:mt-12">
        <div class="bg-white shadow">
          <div class="flex items-center justify-center">
            <h1 class="text-2xl font-semibold text-gray-900">Order ID  #<%= @order.id %></h1>
          </div>
          <div class="px-4 py-6 sm:px-8 sm:py-10">
            <div class="flow-root">
              <ul class="-my-8">
                <% @order.line_items.each do |line_item| %>
                  <li class="flex flex-col space-y-3 py-6 text-left sm:flex-row sm:space-x-5 sm:space-y-0">
                    <div class="shrink-0">
                      <%= image_tag(line_item.product.images.first, class:"h-24 w-24 max-w-full rounded-lg object-cover") %>
                    </div>

                    <div class="relative flex flex-1 flex-col justify-between">
                      <div class="sm:col-gap-5 sm:grid sm:grid-cols-2">
                        <div class="pr-8 sm:pr-5">
                          <p class="text-base font-semibold text-gray-900"><%= line_item.product.name %></p>
                          <p class="mx-0 mt-1 mb-0 text-sm text-gray-400"><%= line_item.product.category.name %></p>
                          <p class="mx-0 mt-1 mb-0 text-sm text-gray-500 font-bold">Color: <%= line_item.color.name %></p>
                          <p class="mx-0 mt-1 mb-0 text-sm text-gray-500 font-bold">Size: <%= line_item.stock.size %></p>


                        </div>

                        <div class="mt-4 flex items-end justify-between sm:mt-0 sm:items-start sm:justify-end">
                          <p class="mx-0 mt-1 mb-0 text-sm text-gray-500 font-bold">Qty: <%= line_item.quantity %></p>
                          <p class="shrink-0 w-20 text-base font-semibold text-gray-900 sm:order-2 sm:ml-8 sm:text-right">$<%= line_item.product.price %></p>

                         
                        </div>
                      </div>

                    
                    </div>
                  </li>
                <% end %>
              
              </ul>
            </div>

            <div class="mt-6 border-t border-b py-2">
              <div class="flex items-center justify-between">
                <p class="text-medium text-gray-600">Total</p>
                  <p class="text-medium font-semibold text-gray-900"> $<%= @order.amount_total %></p>
                
              </div>
              
            </div>
            <div class="mt-6 flex items-center justify-between">
              <div>
                <span class="text-medium text-gray-600">Name:</span>
                <span class="text-medium font-bold text-gray-800"><%= @order.name %></span>
              </div>
              <div>
                <span class="text-medium text-gray-600" >Email:</span>
                <span class="text-medium font-bold text-gray-800"><%= @order.email %></span>
              </div>

              <div>
                <span class="text-medium text-gray-600" >Phone:</span>
                <span class="text-medium font-bold text-gray-800"><%= @order.phone_number %></span>
              </div>
            </div>

            <div class="mt-6 flex items-center justify-between">
              <div>
                <span class="text-medium text-gray-600">State:</span>
                <span class="text-medium font-bold text-gray-800"><%= @order.state %></span>
              </div>
              <div>
                <span class="text-medium text-gray-600" >Pin:</span>
                <span class="text-medium font-bold text-gray-800"><%= @order.pin %></span>
              </div>

              <div>
                <span class="text-medium text-gray-600" >City:</span>
                <span class="text-medium font-bold text-gray-800"><%= @order.city %></span>
              </div>
            </div>

            <div class="mt-6 flex items-center justify-between">
              <div>
                <span class="text-medium text-gray-600">Address Line 1:</span>
                <span class="text-medium font-bold text-gray-800"><%= @order.address_line_1 %></span>
              </div>
              
              <% if !@order.address_line_2.nil? %>
                <div>
                  <span class="text-medium text-gray-600" >Address Line 2:</span>
                  <span class="text-medium font-bold text-gray-800"><%= @order.address_line_2 %></span>
                </div>
              <% end %>
            </div>

            <div class="mt-6 flex items-center justify-between bg-slate-100 p-2">
              <span class="text-medium text-gray-600" >Order Status:</span>
              <span class="font-bold" style="<%= color_scheme(@order.status) %>" ><%= @order.status %></span>
              
            </div>

           
          </div>
        </div>
      </div>
    </div>
  </section>
  <% end %>


  

</div>