<% current_cart.line_items.each do |line_item| %>
  <div class="flex flex-col rounded-lg bg-white sm:flex-row">
    <%= image_tag(line_item.product.images.first, class:"m-2 h-24 w-28 rounded-md border object-cover object-center") %>
    <div class="flex w-full flex-col px-4 py-4">
      <span class="font-semibold"><%= line_item.product.name %></span>
      <span class="float-right text-gray-400"><%= line_item.product.category.name %></span>
      <div class='flex items-center gap-3'>
        <span class="float-right text-gray-500 font-bold">Size: <%= line_item.stock.size%></span>
        <span class="float-right text-gray-500 text-sm font-bold">Quantity: <%= line_item.quantity %></span>
      </div>
      <p class="text-lg font-bold">&#x20B9;<%= line_item.product.price %></p>

    </div>
  </div>
<% end %>
