<div class="flex flex-col items-center border-b bg-white py-4 sm:flex-row sm:px-10 lg:px-20 xl:px-32">
<div class="grid sm:px-10 lg:grid-cols-2 lg:px-20 xl:px-32">
  <div class="px-4 pt-8">
    <p class="text-xl font-medium">Order Summary</p>
    <p class="text-gray-400">Check your items. And select a suitable shipping method.</p>
    <div class="mt-8 space-y-3 rounded-lg border bg-white px-2 py-4 sm:px-6">
      <% @current_cart.line_items.each do |line_item| %>
        <div class="flex flex-col rounded-lg bg-white sm:flex-row">
          <%= image_tag(line_item.product.images.first, class:"m-2 h-24 w-28 rounded-md border object-cover object-center") %>
          <div class="flex w-full flex-col px-4 py-4">
            <span class="font-semibold"><%= line_item.product.name %></span>
            <span class="float-right text-gray-400"><%= line_item.product.category.name %></span>
            <span class="float-right text-gray-500 font-bold">Size: <%= line_item.stock.size%></span>
            <p class="text-lg font-bold">&#x20B9;<%= line_item.product.price %></p>
          </div>
        </div>
      <% end %>
    
    </div>

    <p class="mt-8 text-lg font-medium">Shipping Methods</p>
    <%= form_with(url: select_payment_option_path, data:{ turbo: :false}, class:"mt-5 grid gap-6", id: "paymentForm") do |f| %>
      <div class="relative">
        
        <%= f.radio_button :razorpay, "razorpay", class:"peer hidden", id:"radio_1", type:"radio", name:"radio" %>
        <span class="peer-checked:border-gray-700 absolute right-4 top-1/2 box-content block h-3 w-3 -translate-y-1/2 rounded-full border-8 border-gray-300 bg-white"></span>
        <label class="peer-checked:border-2 peer-checked:border-gray-700 peer-checked:bg-gray-50 flex cursor-pointer select-none rounded-lg border border-gray-300 p-4" for="radio_1">
          <img class="w-14 object-contain" src="/images/naorrAeygcJzX0SyNI4Y0.png" alt="" />
          <div class="ml-5">
            <span class="mt-2 font-semibold">Razorpay (Cards, UPI, NetBanking, Wallets)</span>
            <p class="text-slate-500 text-sm leading-6">Delivery: 2-4 Days</p>
          </div>
        </label>
      </div>

      <div class="relative">
        <%= f.radio_button :cash_on_delivery, "cash_on_delivery", class:"peer hidden", id:"radio_2", type:"radio", name:"radio" %>
        <span class="peer-checked:border-gray-700 absolute right-4 top-1/2 box-content block h-3 w-3 -translate-y-1/2 rounded-full border-8 border-gray-300 bg-white"></span>
        <label class="peer-checked:border-2 peer-checked:border-gray-700 peer-checked:bg-gray-50 flex cursor-pointer select-none rounded-lg border border-gray-300 p-4" for="radio_2">
          <img class="w-14 object-contain" src="/images/oG8xsl3xsOkwkMsrLGKM4.png" alt="" />
          <div class="ml-5">
            <span class="mt-2 font-semibold">Cash On Delivery</span>
            <p class="text-slate-500 text-sm leading-6">Delivery: 2-4 Days</p>
          </div>
        </label>
      </div>
    <% end %>
    <script>
      document.addEventListener("turbo:load", function() {
        var radioButtons = document.querySelectorAll('input[name="radio"]');

        radioButtons.forEach(function(radioButton) {
          radioButton.addEventListener("change", function() {
            var form = document.getElementById("paymentForm");
            var formData = new FormData(form);

            // Use fetch to submit the form data via POST
            fetch(form.action, {
              method: form.method,
              body: formData
            }).then(response => {
              if (response.ok) {
                return response.text();
              } else {
                throw new Error('Network response was not ok');
              }
            }).then(data => {
              // Update the content of the Turbo Frame with the received data
              var frame = document.getElementById("order_btn");
              frame.innerHTML = data;
            }).catch(error => {
              // Handle errors
              console.error('Error:', error);
            });

            // Prevent the default form submission
            event.preventDefault();
          });
        });
      });
    </script>

  </div>
  <div class="mt-10 bg-gray-50 px-4 pt-8 lg:mt-0">
    <p class="text-xl font-medium">Payment Details</p>
    <p class="text-gray-400">Complete your order by providing your payment details.</p>
    <%= form_with(url: checkout_form_path, class:"mainForm") do |f| %>
    <div class="">
      <div class="flex items-center min-[300px]:gap-[136px] md:gap-[145px]">
        <%= f.label :first_name, class:"mt-4 mb-2 block text-sm font-medium" %>
        <%= f.label :last_name, class:"mt-4 mb-2 block text-sm font-medium" %>
      </div>
      <div class="flex items-center gap-5">

        <div class="relative">
          <%= f.text_field :first_name, class:"w-full rounded-md border border-gray-200 px-4 py-3 text-sm shadow-sm outline-none focus:z-10 focus:border-orange-500 focus:ring-orange-500", id:"first_name" %> 
          <div id="firstName"></div>
          
        </div>
        <div class="relative">
          <%= f.text_field :last_name, class:"w-full rounded-md border border-gray-200 px-4 py-3 text-sm shadow-sm outline-none focus:z-10 focus:border-orange-500 focus:ring-orange-500", id:"last_name" %> 
          <div id="lastName"></div>
          
        </div>
      </div>
      
      <label for="email" class="mt-4 mb-2 block text-sm font-medium">Phone</label>
      <div class="relative">
        <%= f.phone_field :phone, class:"w-full rounded-md border border-gray-200 px-4 py-3 pl-11 text-sm shadow-sm outline-none focus:z-10 focus:border-orange-500 focus:ring-orange-500", id:"phone" %>
        <div class="pointer-events-none absolute inset-y-0 left-0 inline-flex items-center px-3">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-gray-400" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
            <path fill-rule="evenodd" d="M2 3.5A1.5 1.5 0 0 1 3.5 2h1.148a1.5 1.5 0 0 1 1.465 1.175l.716 3.223a1.5 1.5 0 0 1-1.052 1.767l-.933.267c-.41.117-.643.555-.48.95a11.542 11.542 0 0 0 6.254 6.254c.395.163.833-.07.95-.48l.267-.933a1.5 1.5 0 0 1 1.767-1.052l3.223.716A1.5 1.5 0 0 1 18 15.352V16.5a1.5 1.5 0 0 1-1.5 1.5H15c-1.149 0-2.263-.15-3.326-.43A13.022 13.022 0 0 1 2.43 8.326 13.019 13.019 0 0 1 2 5V3.5Z" clip-rule="evenodd" />
          </svg>
        </div>
      </div><div id="phoneNumber"></div>
      <label for="email" class="mt-4 mb-2 block text-sm font-medium">Email</label>
      <div class="relative">
        <%= f.email_field :email, class:"w-full rounded-md border border-gray-200 px-4 py-3 pl-11 text-sm shadow-sm outline-none focus:z-10 focus:border-orange-500 focus:ring-orange-500", id:"email" %>
        <div class="pointer-events-none absolute inset-y-0 left-0 inline-flex items-center px-3">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207" />
          </svg>
        </div>
      </div><div id="emailId"></div>
      <label for="billing-address" class="mt-4 mb-2 block text-sm font-medium">Billing Address</label>
      <div class="flex flex-col sm:flex-row">
        <%= f.text_field :pin, class:"flex-shrink-0 rounded-md border border-gray-200 px-4 py-3 text-sm shadow-sm outline-none sm:w-1/6 focus:z-10 focus:border-orange-500 focus:ring-orange-500", id:"pin" %><div id="pinId"></div>
         <%= f.select :state, options_for_select(Order.new.indian_states), {}, { class: "w-full rounded-md border border-gray-200 px-4 py-3 text-sm shadow-sm outline-none focus:z-10 focus:border-orange-500 focus:ring-orange-500", id:"state" } %><div id="stateId"></div>
        <div class="relative flex-shrink-0 sm:w-7/12">
          <%= f.text_field :city, class:"w-full rounded-md border border-gray-200 px-4 py-3 text-sm shadow-sm outline-none focus:z-10 focus:border-orange-500 focus:ring-orange-500", id:"city" %><div id="cityId"></div>
        </div>
      </div>
      <label for="card-holder" class="mt-4 mb-2 block text-sm font-medium">Address Line 1</label>
      <div class="relative">
        <%= f.text_field :address_line_1, class:"w-full rounded-md border border-gray-200 px-4 py-3 pl-11 text-sm  shadow-sm outline-none focus:z-10 focus:border-orange-500 focus:ring-orange-500", id:"address_1" %>
        <div class="pointer-events-none absolute inset-y-0 left-0 inline-flex items-center px-3">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-gray-400" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
            <path fill-rule="evenodd" d="M9.293 2.293a1 1 0 0 1 1.414 0l7 7A1 1 0 0 1 17 11h-1v6a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-3a1 1 0 0 0-1-1H9a1 1 0 0 0-1 1v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-6H3a1 1 0 0 1-.707-1.707l7-7Z" clip-rule="evenodd" />
          </svg>  
        </div>
      </div><div id="addressId"></div>
      <label for="card-holder" class="mt-4 mb-2 block text-sm font-medium">Address Line 2</label>
      <div class="relative">
        <%= f.text_field :address_line_2, class:"w-full rounded-md border border-gray-200 px-4 py-3 pl-11 text-sm  shadow-sm outline-none focus:z-10 focus:border-orange-500 focus:ring-orange-500", id:"address_2" %>
        <div class="pointer-events-none absolute inset-y-0 left-0 inline-flex items-center px-3">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-gray-400" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
            <path fill-rule="evenodd" d="M9.293 2.293a1 1 0 0 1 1.414 0l7 7A1 1 0 0 1 17 11h-1v6a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-3a1 1 0 0 0-1-1H9a1 1 0 0 0-1 1v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-6H3a1 1 0 0 1-.707-1.707l7-7Z" clip-rule="evenodd" />
          </svg>

        </div>
      </div>
      <% end %>
     

      <!-- Total -->
      <div class="mt-6 border-t border-b py-2">
        <div class="flex items-center justify-between">
          <p class="text-sm font-medium text-gray-900">Subtotal</p>
          <p class="font-semibold text-gray-900">&#x20B9;<%= @current_cart.sub_total %></p>
        </div>
        <div class="flex items-center justify-between">
          <p class="text-sm font-medium text-gray-900">Shipping</p>
          <p class="font-semibold text-gray-900">$8.00</p>
        </div>
      </div>
      <div class="mt-6 flex items-center justify-between">
        <p class="text-sm font-medium text-gray-900">Total</p>
        <p class="text-2xl font-semibold text-gray-900">&#x20B9;<%= @current_cart.sub_total %></p>
      </div>
    </div>
    <%= turbo_frame_tag "order_btn" do %>
      Select Payment Method
    <% end %>
    <div id="errorContainer" class="text-red-600 font-bold text-2xl"></div>
  </div>
</div>
