<div class="grid place-items-center">
  <div class="bg-slate-100 p-4">

    <%= form_with(model: [:admin, category]) do |form| %>
      <% if category.errors.any? %>
      <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-200 dark:bg-gray-800 dark:text-red-400" role="alert">
        <% category.errors.each do |error| %>
          <%= error.full_message %>
        <% end %>
      </div>
      <% end %>

      <div>
        <%= form.label :gender_id, style: "display: block" %>
        <%= form.collection_select :gender_id, Gender.order(:name), :id, :name %>
      </div>

      <div class="my-4">
        <%= form.label :name, style: "display: block" %>
        <%= form.text_field :name %>
      </div>

      <div>
        <%= form.label :thumbnail, style: "display: block" %>
        <%= form.file_field :thumbnail %>
      </div>

      <div>
        <%= form.submit "Create Category", class:"bg-orange-500 hover:bg-orange-600 text-white p-2 mt-8 hover:cursor-pointer" %>
      </div>
    <% end %>
  </div>

</div>