<div class="grid place-items-center">
  <div class="bg-slate-100 p-4">
    <%= form_with(model: [:admin, product]) do |form| %>
      <% if product.errors.any? %>
        <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-200 dark:bg-gray-800 dark:text-red-400" role="alert">
          <% product.errors.each do |error| %>
            <%= error.full_message %>
          <% end %>
        </div>
      <% end %>
      <div>
        <%= form.label :name, style: "display: block" %>
        <%= form.text_field :name %>
      </div>

      <div>
        <%= form.label :description, style: "display: block" %>
        <%= form.rich_text_area :description, class:"" %>
      </div>
      
      <div>
        <%= form.label :category_id, style: "display: block" %>
        <%= form.collection_select :category_id, Category.order(:name), :id, :name %>
      </div>

      <div>
        <%= form.label :images, style: "display: block" %>
        <%= form.file_field :images, multiple: true %>
      </div>

      <div>
        <%= form.label :price, style: "display: block" %>
        <%= form.text_field :price %>
      </div>

      <div>
        <%= form.submit class:"bg-orange-500 hover:bg-orange-600 text-white p-2 mt-8 hover:cursor-pointer" %>
      </div>
    <% end %>

  </div>

  <div class="flex items-center justify-between bg-slate-100 mt-5">
    <% product.images.each do |image| %>
      <div class="flex flex-col items-center">
        <%= image_tag(image, class:"w-14", style:"margin-inline: 15px;") %>
        <%= button_to "Remove", remove_image_path(product, image) %>
      </div>
    <% end %>
  </div>
</div>