<div id="<%= dom_id product %>" class="flex items-center justify-between">
  <div class="">
    <p class="text-slate-800 font-bold">
      <%= product.name %>
    </p>
    <p class="text-slate-400">
      <%= product.category.name %>
    </p>
    <p class="text-slate-800 font-bold">
      $<%= product.price %>
      <%= link_to edit_admin_product_path(product), class:"text-red-700 px-3 py-2 hover:text-red-800 transition:ease-out duration-300" do %>
        <i class="fa-solid fa-pencil"></i>
      <% end %>
    </p>

  </div>

  
  <% if product.images.present?  %>
    <div>
      <%= image_tag(product.images.first, class:"w-20") %>
    </div>
  <% end %>

  <div>
    <%= link_to admin_product_colors_path(product), class:"bg-slate-700 hover:bg-slate-600 text-white p-2" do %>
      <span>Colors & Stocks</span>
    <% end %>
    
    
  </div>


 


</div>

