<div>
  <section class="h-screen py-12 sm:py-10 lg:py-5">
    <div class="mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex items-center justify-center">
        <h1 class="text-2xl font-semibold text-gray-900">Order #<%= @order.id %></h1>
      </div>

      <div class="mx-auto mt-8 max-w-2xl md:mt-12">
        <div class="bg-white shadow">
          <div class="px-4 py-6 sm:px-8 sm:py-10">
            <div class="flow-root">
              <ul class="-my-8">
                <% @order.line_items.each do |line_item| %>
                  <li class="flex flex-col space-y-3 py-6 text-left sm:flex-row sm:space-x-5 sm:space-y-0">
                    <div class="shrink-0">
                      <%= image_tag(line_item.product.images.first, class:"h-24 w-24 max-w-full rounded-lg object-cover") %>
                    </div>

                    <div class="relative flex flex-1 flex-col justify-between">
                      <div class="sm:col-gap-5 sm:grid sm:grid-cols-2">
                        <div class="pr-8 sm:pr-5">
                          <p class="text-base font-semibold text-gray-900"><%= line_item.product.name %></p>
                          <p class="mx-0 mt-1 mb-0 text-sm text-gray-400"><%= line_item.product.category.name %></p>
                          <p class="mx-0 mt-1 mb-0 text-sm text-gray-500 font-bold">Color: <%= line_item.color.name %></p>
                          <p class="mx-0 mt-1 mb-0 text-sm text-gray-500 font-bold">Size: <%= line_item.stock.size %></p>

                        </div>

                        <div class="mt-4 flex items-end justify-between sm:mt-0 sm:items-start sm:justify-end">
                          <p class="mx-0 mt-1 mb-0 text-sm text-gray-500 font-bold">Qty: <%= line_item.quantity %></p>

                          <p class="shrink-0 w-20 text-base font-semibold text-gray-900 sm:order-2 sm:ml-8 sm:text-right">$<%= line_item.product.price %></p>

                         
                        </div>
                      </div>

                    
                    </div>
                  </li>
                <% end %>
              
              </ul>
            </div>

            <div class="mt-6 border-t border-b py-2">
              <div class="flex items-center justify-between">
                <p class="text-medium text-gray-600">Total</p>
                  <p class="text-medium font-semibold text-gray-900"> $<%= @order.amount_total %></p>
                
              </div>
              
            </div>
            <div class="mt-6 flex items-center justify-between">
              <div>
                <span class="text-medium text-gray-600">Name:</span>
                <span class="text-medium font-bold text-gray-800"><%= @order.name %></span>
              </div>
              <div>
                <span class="text-medium text-gray-600" >Email:</span>
                <span class="text-medium font-bold text-gray-800"><%= @order.email %></span>
              </div>

              <div>
                <span class="text-medium text-gray-600" >Phone:</span>
                <span class="text-medium font-bold text-gray-800"><%= @order.phone_number %></span>
              </div>
            </div>

            <div class="mt-6 flex items-center justify-between">
              <div>
                <span class="text-medium text-gray-600">State:</span>
                <span class="text-medium font-bold text-gray-800"><%= @order.state %></span>
              </div>
              <div>
                <span class="text-medium text-gray-600" >Pin:</span>
                <span class="text-medium font-bold text-gray-800"><%= @order.pin %></span>
              </div>

              <div>
                <span class="text-medium text-gray-600" >City:</span>
                <span class="text-medium font-bold text-gray-800"><%= @order.city %></span>
              </div>
            </div>

            <div class="mt-6 flex items-center justify-between">
              <div>
                <span class="text-medium text-gray-600">Address Line 1:</span>
                <span class="text-medium font-bold text-gray-800"><%= @order.address_line_1 %></span>
              </div>
              
              <% if !@order.address_line_2.nil? %>
                <div>
                  <span class="text-medium text-gray-600" >Address Line 2:</span>
                  <span class="text-medium font-bold text-gray-800"><%= @order.address_line_2 %></span>
                </div>
              <% end %>
            </div>

            <div class="mt-6 flex items-center justify-between bg-slate-100 p-2">
              <span class="text-medium text-gray-600" >Order Status:</span>
              <span class="font-bold" style="<%= color_scheme(@order.status) %>" >
                  <%= turbo_frame_tag "order_#{@order.id}_status" do %>
                    <%= @order.status %>
                  <% end %>
              </span>
              
              <% if current_admin %>
                
              
              <button id="dropdown<%= @order.id %>DefaultButton" data-dropdown-toggle="dropdown<%= @order.id %>" class="text-white bg-slate-700 hover:bg-slate-800 font-medium rounded-lg text-sm p-1 text-center inline-flex items-center dark:bg-slate-600 dark:hover:bg-slate-700 " type="button">
                    Status <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="https://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                  </svg>
                  </button>

                  <!-- Dropdown<%= @order.id %> menu -->
                  <div id="dropdown<%= @order.id %>" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                      <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdown<%= @order.id %>DefaultButton">
                        <li>
                          <%= link_to "pending", admin_pending_path(@order), data:{turbo_method: :post}, class:"block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"%>
                        </li>
                        <li>
                          <%= link_to "out for delivery", admin_out_for_delivery_path(@order), data:{turbo_method: :post}, class:"block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"%>
                        </li>
                        <li>
                          <%= link_to "completed", admin_completed_path(@order), data:{turbo_method: :post}, class:"block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"%>
                        </li>
                        <li>
                          <%= link_to "cancelled", admin_cancelled_path(@order), data:{turbo_method: :post}, class:"block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"%>
                        </li>
                      </ul>
                  </div>
              
              <% end %>
            </div>

           
          </div>
        </div>
      </div>
    </div>
  <%= link_to "Back to Orders", admin_orders_path, class:"bg-gray-100 p-2" %>
  </section>


  

</div>