<header class="bg-gray-50">
  <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
    <div class="sm:flex sm:items-center sm:justify-between">
      <div class="text-center sm:text-left">
        <h1 class="text-2xl font-bold text-gray-900 sm:text-3xl"><%= @category.name %></h1>

        <p class="mt-1.5 text-sm text-gray-500">
          <%= link_to @category.gender.name, gender_path(@category.gender), class:"hover:text-gray-800" %> >
          <%= @category.name %> 
        </p>
      </div>

      <div class="mt-4 flex flex-col gap-4 sm:mt-0 sm:flex-row sm:items-center min-[300px]:ml-12">
        <%= form_with(url: category_path(@category), method: :get ) do |form| %>
          <%= form.select :query, options_for_select(['Price Low To High', 'Price High To Low' ]) %>
          <%= form.submit 'Filter', class:"bg-slate-800 rounded-md p-2 text-white hover:bg-slate-700 hover:cursor-pointer" %>

        <% end %>
      </div>
    </div>
  </div>
</header>
<div class="grid min-[300px]:grid-cols-2 md:grid-cols-4 p-2">
  
  <% @products.each do |product| %>
    <div class="group my-10 flex w-full max-w-xs flex-col overflow-hidden bg-white border rounded-md shadow shadow-slate-300">
      <%= link_to product_path(product), class:"relative mx-3 mt-3 flex h-60 overflow-hidden" do %>
        <%= image_tag(product.images.first, class:"peer absolute top-0 right-0 h-full w-full object-cover") %>
        <% if product.images.second.present?  %>
          <%= image_tag(product.images.second, class:"peer absolute top-0 -right-96 h-full w-full object-cover transition-all delay-100 duration-1000 hover:right-0 peer-hover:right-0") %>
        <% else %>
          <%= image_tag(product.images.first, class:"peer absolute top-0 -right-96 h-full w-full object-cover transition-all delay-100 duration-1000 hover:right-0 peer-hover:right-0") %>
        <% end %>
        <!-- <div class="absolute  bottom-0 mb-4 flex space-x-4 w-full justify-center">
          <div class="rounded-full h-3 w-3 bg-gray-200 border-2 border-white"></div> 
          <div class="rounded-full h-3 w-3 bg-gray-200 border-2 border-white"></div>
          <div class="rounded-full h-3 w-3 bg-gray-200 border-2 border-white"></div>
        </div> -->
        <svg class="pointer-events-none absolute inset-x-0 bottom-5 mx-auto text-3xl text-white  transition-opacity group-hover:animate-ping group-hover:opacity-30 peer-hover:opacity-0" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32"><path fill="currentColor" d="M2 10a4 4 0 0 1 4-4h20a4 4 0 0 1 4 4v10a4 4 0 0 1-2.328 3.635a2.996 2.996 0 0 0-.55-.756l-8-8A3 3 0 0 0 14 17v7H6a4 4 0 0 1-4-4V10Zm14 19a1 1 0 0 0 1.8.6l2.7-3.6H25a1 1 0 0 0 .707-1.707l-8-8A1 1 0 0 0 16 17v12Z" /></svg>
        <!-- <span class="absolute top-0 left-0 m-2 rounded-full bg-black px-2 text-center text-sm font-medium text-white">39% OFF</span> -->
      <% end %>
      <div class="mt-4 px-5 pb-5">
        <%= link_to product_path(product) do %>
          <h5 class="text-xl tracking-tight text-slate-900"><%= product.name %></h5>
        <% end %>
        <div class="mt-2 mb-5 flex items-center justify-between">
          <p>
            <span class="text-3xl font-bold text-slate-900">$<%= product.price %></span>
            <!--<span class="text-sm text-slate-900 line-through">$1699</span> -->
          </p>
        </div>
        <%= link_to product_path(product), class:"flex items-center justify-center px-4 py-2 text-center text-sm font-medium text-white focus:outline-none focus:ring-4 focus:ring-blue-300 transition:ease-in duration-300 border-t" do %>
          <h2 class="text-slate-700">View</h2>
        <% end %>
      </div>
    </div>
  <% end %>

</div>
<div class="grid place-items-center mb-10 p-4">
  <style>
    .pagy {
      display: flex;
    }

    .pagy > :not([hidden]) ~ :not([hidden]) {
      --space-reverse: 0;
      margin-right: calc(0.25rem * var(--space-reverse));
      margin-left: calc(0.25rem * calc(1 - var(--space-reverse)));
    }

    .pagy {
      font-family: sans-serif;
      font-size: 0.875rem;
      line-height: 1.25rem;
      font-weight: 600;
      color: rgb(107 114 128);
    }

    .pagy .page.gap {
      /* if you need to customize it */
    }

    .pagy .page a {
      display: block;
      text-decoration: none;
      border-radius: 0.5rem;
      background-color: rgb(229 231 235);
      padding: 0.25rem 0.75rem;
      color: inherit;
    }

    .pagy .page a:hover {
      background-color: rgb(209 213 219);
    }

    .pagy .page.active a {
      cursor: default;
      background-color: rgb(156 163 175);
      color: rgb(255 255 255);
    }

    .pagy .page.disabled a {
      cursor: default;
      background-color: rgb(243 244 246);
      color: rgb(209 213 219);
    }

    .pagy .pagy-combo-input, .pagy.pagy-items-selector-js {
      white-space: nowrap;
      display: inline-block;
      border-radius: 0.5rem;
      background-color: rgb(229 231 235);
      padding: 0.125rem 0.75rem;
    }

    .pagy .pagy-combo-input input, .pagy.pagy-items-selector-js input {
      line-height: 1.5rem;
      border-radius: 0.375rem;
      border-style: none;
      background-color: rgb(243 244 246);
    }
  </style>
  <%== pagy_nav(@products_pagy) if @products_pagy.pages > 1 %>

</div>
