<h2 class="text-center text-orange-600 font-extrabold py-10 text-2xl mb-5"><%= current_user.full_name %>'s Orders</h2>
<div class="border-b border-orange-600"></div>
<% @orders.each do |order| %>
  <%= link_to order_show_path(order) do %>
  
    <div class="bg-slate-50 border-b border-orange-600 min-[300px]:px-5 md:px-10 py-5 hover:bg-slate-100 transition:ease-in duration-300">
      <div class="flex items-center justify-between">
        <h2 class="text-slate-800 font-bold text-lg">Order #<%= order.id %></h2>
        <p class="text-slate-500">Total Items: <%= order.line_items.size %></p>
        <p class="text-slate-500">Amount Paid: $<%= order.order_total %></p>
        <p class="text-slate-500 font-bold" style="<%= color_scheme(order.status) %>">Status: <%= order.status %></p>


        
      </div>
    </div>
  <% end %>
<% end %>